
.header_part {
  margin: 3em auto 1em auto;
  display: grid;
  justify-items: center;
}
.profile__img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.profile_name {
  margin-top: 15px;
}
.main_part {
  text-align: center;
  display: grid;
  width: 80%;
  margin: auto;
}
button {
  padding: 1.5em;
  border: none;
  border-radius: 10px;
  margin-bottom: 1em;
}
a {
  text-decoration: none;
  color: black; 
  font-size: 10px;
}
.icon-photo {
  margin: auto 45%;
  display: flex;
  justify-content: space-evenly;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 4em 5em 0em 5em;
}
.zuri_logo {
  display: flex;
}
.vector__img {
  height: 5px;
  margin-top: 2em;
}
.footer_text {
  margin-top: 2.5em;
  font-size: 10px;
}
.i4g__img {
  height: 35px;
}